<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h1>Pedidos | Ingreso</h1>
      <form role="form" [formGroup]="loginForm" (ngSubmit)="submit()">

        <div class="form-content">

          <ngb-alert *ngIf="errorMessage != null" [type]="'dark'" (close)="clearError()">{{ errorMessage }}</ngb-alert>

          <ng-container *ngIf="shops == null">
            <div class="form-group">
              <input type="text" class="form-control input-underline input-lg" formControlName="email" placeholder="Email"
                [ngClass]="{'is-invalid' : isInputInvalid(loginForm.controls.email) }">
            </div>

            <div class="form-group">
              <input type="password" class="form-control input-underline input-lg" formControlName="password" placeholder="Password"
                [ngClass]="{'is-invalid' : isInputInvalid(loginForm.controls.password) }">
            </div>
          </ng-container>

          <ng-container *ngIf="shops != null">
            <p>Su email se encuentra registrado en más de una tienda.</p>
            <p>Para continuar seleccione una:</p>
            <ul class="list-group">
              <button type="button" class="list-group-item list-group-item-dark" *ngFor="let s of shops" (click)="submit(s)">
                <strong>{{ s.name }}</strong>
              </button>
            </ul>
          </ng-container>

        </div>

        <button class="btn rounded-btn" type="submit" [attr.disabled]="isUploading ? '' : ( loginForm.valid ? null : '' )">Ingresar</button>
        <a class="btn rounded-btn" [routerLink]="['/password']">Olvidé mi password</a>

      </form>
    </div>
  </div>
</div>
