<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h1>Página no encontrada</h1>
      <a class="btn rounded-btn" [routerLink]="['/']">Volver al inicio</a>
    </div>
  </div>
</div>