<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h1>Pedidos | Perdida de password</h1>
      <form role="form" [formGroup]="passwordForm" (ngSubmit)="submit()">

        <div class="form-content">

          <ngb-alert *ngIf="alert != null" [type]="alert.type" [dismissible]="alert.dismissible" (close)="clearAlert()">
            {{ alert.message }}
          </ngb-alert>

          <div class="form-group" *ngIf="alert == null || alert.type != 'success'">
            <input type="email" class="form-control input-underline input-lg" formControlName="email" placeholder="Email"
              [ngClass]="{'is-invalid' : isInputInvalid(passwordForm.controls.email) }">
          </div>

        </div>

        <button class="btn rounded-btn" type="submit" [attr.disabled]="isUploading ? '' : ( passwordForm.valid ? null : '' )"
          *ngIf="alert == null || alert.type != 'success'">Enviar</button>

      </form>
    </div>
  </div>
</div>
