<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">

  <div class="row">
    <div class="col-xl-12">
      <h2 class="page-header">
        Tiendas
      </h2>
    </div>
  </div>

  <div class="row" *ngIf="alerts != null && alerts.length > 0">
    <div class="col-xl-12">
      <ngb-alert *ngFor="let a of alerts" [type]="a.type" [dismissible]="a.dismissible" (close)="closeAlert(a)">
        {{ a.message }}
      </ngb-alert>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          Listado de tiendas
          <div class="pull-right">
            <button role="button" class="btn btn-success" (click)="openNewModal(modalEditar)">Crear tienda</button>
          </div>
        </div>
        <div class="card-body">
          <form role="form" class="row">

            <h5 class="col-md-12">Búsqueda</h5>

            <fieldset class="form-group col-sm-12">
              <div class="input-group">
                <input type="text" class="form-control" [formControl]="searchInput">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </fieldset>

          </form>
        </div>

        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Creada</th>
                <th>Nombre</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of shops">
                <td>{{ s.created | date:'yyyy-MM-dd' }}</td>
                <td>{{ s.name }}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-primary pull-right" (click)="openEditModal(modalEditar, s)">
                    <i class="fa fa-fw fa-eye"></i>
                    Ver</button>
                </td>
              </tr>
            </tbody>
          </table>
          <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalElements" [(page)]="pageNumber"
            [maxSize]="5" [pageSize]="pageSize" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="pageChange($event)"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modalEditar let-c="close" let-d="dismiss">

    <div class="modal-header">
      <h4 class="modal-title">
        {{ modal.shop.id == null ? 'Crear trienda' : 'Editar tienda ' + modal.shop.name }}
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form role="form" [formGroup]="shopForm" (ngSubmit)="save(modal.shop)">

      <div class="modal-body">

        <ng-container *ngIf="modal.alerts">
          <ngb-alert *ngFor="let a of modal.alerts" [type]="a.type" [dismissible]="a.dismissible" (close)="closeAlert(a)">
            {{ a.message }}
          </ngb-alert>
        </ng-container>

        <div class="container-fluid">
          <div class="row">

            <h4>Datos de tienda</h4>
            <fieldset class="form-group col-sm-12">
              <label>Nombre</label>
              <input class="form-control" formControlName="name" [ngClass]="{'is-invalid' : isInputInvalid(shopForm.controls.name) }">
              <div class="invalid-feedback" *ngIf="isInputInvalid(shopForm.controls.name)">
                Este campo no puede estar vacío.
              </div>
            </fieldset>

          </div>
          <div class="row" *ngIf="modal.shop.id == null">
            <h4 class="col-sm-12">Datos de administrador</h4>
            <fieldset class="form-group col-lg-6 col-sm-12">
              <label>Nombre</label>
              <input class="form-control" formControlName="firstName" [ngClass]="{'is-invalid' : isInputInvalid(shopForm.controls.firstName) }">
              <div class="invalid-feedback" *ngIf="isInputInvalid(shopForm.controls.firstName)">
                Este campo no puede estar vacío y debe tener al menos 3 caracteres
              </div>
            </fieldset>
            <fieldset class="form-group col-lg-6 col-sm-12">
              <label>Apellido</label>
              <input class="form-control" formControlName="lastName" [ngClass]="{'is-invalid' : isInputInvalid(shopForm.controls.lastName) }">
              <div class="invalid-feedback" *ngIf="isInputInvalid(shopForm.controls.lastName)">
                Este campo no puede estar vacío y debe tener al menos 3 caracteres
              </div>
            </fieldset>
            <fieldset class="form-group col-sm-12">
              <label>Email</label>
              <input class="form-control" formControlName="email" type="email" [ngClass]="{'is-invalid' : isInputInvalid(shopForm.controls.email) }">
              <div class="invalid-feedback" *ngIf="isInputInvalid(shopForm.controls.email)">
                Este campo no puede estar vacío y debe ser un correo electrónico válido
              </div>
            </fieldset>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-success" [attr.disabled]="shopForm.valid ? null : ''">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
      </div>

    </form>
  </ng-template>

</section>