<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand">Pedidos {{ shop != null ? '- ' + shop.name : ' - Administración' }}</a>
  <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
    <i class="fa fa-bars text-muted" aria-hidden="true"></i>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
          <i class="fa fa-fw fa-user"></i> {{ user.lastName + ', ' + user.firstName }} <b class="caret"></b>
        </a>
        <div class="dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" (click)="openProfile()">
            <i class="fa fa-fw fa-wrench"></i> {{ 'Perfil' }}
          </a>
          <a class="dropdown-item" (click)="logout()">
            <i class="fa fa-fw fa-power-off"></i> {{ 'Salir' }}
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
