<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">

    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Rubros
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-search"></i> Buscar Rubros
                    <div class="pull-right">
                        <button role="button" class="btn btn-success" (click)="openNewModal(modalEditar)">Crear rubro</button>
                    </div>
                </div>
                <div class="card-body">
                    <form role="form">
                        <div class="form-group input-group">
                            <input type="text" class="form-control" [formControl]="searchInput">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-header">Resultados ({{categories.length}})</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 col-sm-12" *ngFor="let c of categories">
                            <div class="card text-white bg-secondary">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col col-xs-3">
                                            <i class="fa fa-folder-open fa-5x"></i>
                                        </div>
                                        <div class="col col-xs-9 text-right">
                                            <div class="d-block huge">{{ c.name }}</div>
                                            <div class="d-block">{{ c.code }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button role="button" class="btn btn-danger float-left" (click)="openDeleteModal(modalRemove, c)">
                                        <span class="card-inverse"><i class="fa fa-trash"></i> Eliminar</span>
                                    </button>
                                    <button role="button" class="btn btn-primary float-right" (click)="openEditModal(modalEditar, c)">
                                        <span class="card-inverse"><i class="fa fa-pencil"></i> Editar</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #modalEditar let-c="close" let-d="dismiss">

        <div class="modal-header">
            <h4 class="modal-title">{{ modal.category.id == null ? 'Crear rubro' : 'Editar rubro ' +
                modal.category.name }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form role="form" [formGroup]="categoryForm" (ngSubmit)="save(modal.category)">

            <div class="modal-body">

                <ngb-alert *ngIf="modal.successMsg" [type]="'success'" [dismissible]="false">{{ modal.successMsg }}</ngb-alert>
                <ngb-alert *ngIf="modal.errorMsg" [type]="'warning'" [dismissible]="false">{{ modal.errorMsg }}</ngb-alert>

                <div class="container-fluid">
                    <div class="row">

                        <fieldset class="form-group col-lg-6 col-sm-12">
                            <label>Código</label>
                            <input class="form-control" formControlName="code" [ngClass]="{'is-invalid' : isInputInvalid(categoryForm.controls.code) }">
                            <div class="invalid-feedback" *ngIf="isInputInvalid(categoryForm.controls.code)">
                                Este campo no puede estar vacío
                            </div>
                        </fieldset>
                        <fieldset class="form-group col-lg-6 col-sm-12">
                            <label>Nombre</label>
                            <input class="form-control" formControlName="name" [ngClass]="{'is-invalid' : isInputInvalid(categoryForm.controls.name) }">
                            <div class="invalid-feedback" *ngIf="isInputInvalid(categoryForm.controls.name)">
                                Este campo no puede estar vacío
                            </div>
                        </fieldset>

                        <input class="form-control" formControlName="parentId" type="hidden">

                        <fieldset class="form-group input-group col-sm-12">
                            <label>Rubro padre</label>
                            <input class="form-control" ngui-auto-complete [source]="filterObservableCategories"
                                [list-formatter]="autocompleteFormater" formControlName="parentSelectedId" path-to-data="content"
                                min-chars="1" (valueChanged)="selectParent($event)" display-property-name="name">
                        </fieldset>
                        <div class="col-sm-12">
                            <ngb-alert [type]="'success'" [dismissible]="true" (close)="deselectParent()" *ngIf="modal.parent != null"><strong>Rubro
                                    padre: </strong>{{ modal.parent.code + ' - ' + modal.parent.name }}</ngb-alert>
                        </div>

                        <div class="col-sm-12" *ngIf="modal.category.childs != null && modal.category.childs.length > 0">
                            <h4>Rubros hijos</h4>
                            <div class="col-sm-12">
                                <ul class="list-group">
                                    <li class="list-group-item" *ngFor="let child of modal.category.childs">
                                        {{ child.code + ' - ' + child.name }}
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success" [attr.disabled]="categoryForm.valid ? null : ''">Guardar</button>
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
            </div>

        </form>

    </ng-template>

    <ng-template #modalRemove let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Eliminar rubro {{ modal.category.name }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ngb-alert *ngIf="modal.errorMsg" [type]="'warning'" [dismissible]="false">{{ modal.errorMsg }}</ngb-alert>
            <p>¿Está seguro que desea eliminar al rubro?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deleteCategory(modal.category)">Eliminar</button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancelar</button>
        </div>
    </ng-template>

</section>