<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">
  <div class="row">
    <div class="col-xl-12">
      <h2 class="page-header">
        Usuarios
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-search"></i> Buscar Usuarios
          <div class="pull-right">
            <button role="button" class="btn btn-success" (click)="create(content)">Crear usuario</button>
          </div>
        </div>
        <div class="card-body">
          <form role="form">
            <div class="form-group input-group">
              <input type="text" class="form-control" [formControl]="searchInput">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-3">
        <div class="card-header">Resultados ({{users.length}})</div>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-12" *ngFor="let u of users">
              <div class="card text-white bg-secondary">
                <div class="card-header">
                  <div class="row">
                    <div class="col col-xs-3">
                      <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="col col-xs-9 text-right">
                      <div class="d-block huge">{{ u.lastName + ', ' + u.firstName }}</div>
                      <div class="d-block">{{ u.email }}</div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button role="button" class="btn btn-danger float-left" (click)="delete(remove, u)" [attr.disabled]="isRoleEditable(u) ? null : ''">
                    <span class="card-inverse"><i class="fa fa-trash"></i> Eliminar</span>
                  </button>
                  <button role="button" class="btn btn-primary float-right" (click)="edit(content, u)">
                    <span class="card-inverse"><i class="fa fa-pencil"></i> Editar</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{ modal.user.id == null ? 'Crear usuario' : 'Editar usuario' }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form role="form" [formGroup]="userForm" (ngSubmit)="save()">

      <div class="modal-body">

        <ngb-alert *ngIf="modal.successMsg" [type]="'success'" [dismissible]="false">{{ modal.successMsg }}</ngb-alert>
        <ngb-alert *ngIf="modal.errorMsg" [type]="'warning'" [dismissible]="false">{{ modal.errorMsg }}</ngb-alert>

        <div class="row">
          <fieldset class="form-group col-lg-6 col-sm-12">
            <label>Nombre</label>
            <input class="form-control" formControlName="firstName" [ngClass]="{'is-invalid' : isInvalidField(userForm.controls.firstName) }">
            <div class="invalid-feedback" *ngIf="isInvalidField(userForm.controls.firstName)">
              Este campo no puede estar vacío y debe tener al menos 3 caracteres
            </div>
          </fieldset>
          <fieldset class="form-group col-lg-6 col-sm-12">
            <label>Apellido</label>
            <input class="form-control" formControlName="lastName" [ngClass]="{'is-invalid' : isInvalidField(userForm.controls.lastName) }">
            <div class="invalid-feedback" *ngIf="isInvalidField(userForm.controls.lastName)">
              Este campo no puede estar vacío y debe tener al menos 3 caracteres
            </div>
          </fieldset>
          <fieldset class="form-group col-lg-6 col-sm-12">
            <label>Email</label>
            <input class="form-control" formControlName="email" type="email" [ngClass]="{'is-invalid' : isInvalidField(userForm.controls.email) }"
              [attr.disabled]="modal.user.id != null ? '' : null">
            <div class="invalid-feedback" *ngIf="isInvalidField(userForm.controls.email)">
              Este campo no puede estar vacío y debe ser un correo electrónico válido
            </div>
          </fieldset>
          <fieldset class="form-group col-lg-6 col-sm-12">
            <label>Rol</label>
            <select class="form-control" formControlName="role" [attr.disabled]="isRoleEditable(modal.user) ? null : ''"
              [ngClass]="{'is-invalid' : isInvalidField(userForm.controls.role) }">
              <option value="ADMIN">Administrador</option>
              <option value="SELLER">Vendedor</option>
            </select>
          </fieldset>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-success" [attr.disabled]="userForm.valid ? null : ''">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
      </div>

    </form>

  </ng-template>
  <ng-template #remove let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Eliminar usuario {{modal.user.lastName + ', ' + modal.user.firstName}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ngb-alert *ngIf="modal.errorMsg" [type]="'warning'" [dismissible]="false">{{ modal.errorMsg }}</ngb-alert>
      <p>¿Está seguro que desea eliminar al usuario?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="deleteUser()">Eliminar</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancelar</button>
    </div>
  </ng-template>
</section>