<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">

  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">
        Pedido
      </h2>
    </div>
  </div>

  <div class="row" *ngIf="alerts != null && alerts.length > 0">
    <div class="col-md-12">
      <ngb-alert *ngFor="let a of alerts" [type]="a.type" [dismissible]="a.dismissible" (close)="closeAlert(a)">
        {{ a.message }}
      </ngb-alert>
    </div>
  </div>

  <div class="row" *ngIf="presale != null">

    <div class="col-xl-6 col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          Detalles Pedido
        </div>
        <div class="card-body">
          <form role="form" class="row">

            <fieldset class="form-group col-md-6 col-sm-12">
              <label>Número Pedido</label>
              <input class="form-control" name="presaleFriendly" [(ngModel)]="presale.friendlyNumber" [attr.disabled]="''">
            </fieldset>

            <fieldset class="form-group col-md-6 col-sm-12">
              <label>Fecha Pedido</label>
              <input class="form-control" name="presaleDate" [ngModel]="presale.created | date:'yyyy-MM-dd'" [attr.disabled]="''">
            </fieldset>

            <fieldset class="form-group col-md-6 col-sm-12">
              <label>Estado Pedido</label>
              <input class="form-control" name="presaleStatus" [ngModel]="presale.status | status" [attr.disabled]="''">
            </fieldset>

            <fieldset class="form-group col-md-6 col-sm-12">
              <label>Fecha entregado</label>
              <input class="form-control" name="presaleDelivered" [ngModel]="presale.delivered != null ? (presale.delivered | date:'yyyy-MM-dd') : ('No entregado todavía')"
                [attr.disabled]="''">
            </fieldset>

            <fieldset class="form-group col-md-6 col-sm-12">
              <label>Subtotal</label>
              <input class="form-control" name="presaleSubtotal" [ngModel]="presale.subtotal != null ? (presale.subtotal | currency:'ARS':'symbol-narrow') : ('')"
                [attr.disabled]="''">
            </fieldset>

            <fieldset class="form-group col-md-6 col-sm-12">
              <label>Total</label>
              <input class="form-control" name="presaleTotal" [ngModel]="presale.total != null ? (presale.total | currency:'ARS':'symbol-narrow') : ('')"
                [attr.disabled]="''">
            </fieldset>

          </form>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          Detalle Cliente
        </div>
        <div class="card-body">
          <form role="form" class="row">

            <fieldset class="form-group col-md-6 col-sm-12">
              <label>Nombre Cliente</label>
              <input class="form-control" name="customerName" [(ngModel)]="presale.customer.name" [attr.disabled]="''">
            </fieldset>
            <fieldset class="form-group col-md-6 col-sm-12">
              <label>CUIT Cliente</label>
              <input class="form-control" name="customerCuit" [(ngModel)]="presale.customer.cuit" [attr.disabled]="''">
            </fieldset>

          </form>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          Configuración de Pedido
        </div>
        <div class="card-body">
          <div class="row">

            <div class="col-md-12" *ngIf="newStatus == null">
              <h4>Estado</h4>
              <p *ngIf="presale.status == 'PENDING' && detailsSize <= 0">Para marcar como enviado el pedido, debe tener cargado al menos 1 detalle.</p>
              <p *ngIf="presale.status == 'SENT' && presale.deliverDate == null">Para marcar como entregado el pedido, debe estar cargada la fecha de entrega.</p>
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" *ngIf="presale.status == 'PENDING'" (click)="updateStatus('SENT')" [attr.disabled]="detailsSize > 0 ? null : ''">Enviado</button>
                <button type="button" class="btn btn-success" *ngIf="presale.status == 'SENT'" (click)="updateStatus('DELIVER')" [attr.disabled]="presale.deliverDate != null ? null : ''">Entregado</button>
                <button type="button" class="btn btn-danger" [attr.disabled]="(presale.status == 'CANCEL' || presale.status == 'DELIVER') ? '' : null"
                  (click)="updateStatus('CANCEL')">Cancelado</button>
              </div>
            </div>

            <div class="col-md-12" *ngIf="newStatus != null">
              <h4>Estado</h4>
              <h5>¿Está seguro que desea cambiar el estado? Esta acción no se puede deshacer.</h5>
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-success" (click)="updateStatus(null)">Cancelar</button>
                <button type="button" class="btn" (click)="confirmStatus()">Continuar</button>
              </div>
            </div>

            <div class="col-md-12" *ngIf="selectedDeliverDate == null">
              <h4>Fecha entrega</h4>
              <div class="form-group input-group">
                <input type="text" class="form-control" name="deliverDate" ngbDatepicker [(ngModel)]="deliverDate"
                  #datePiker="ngbDatepicker" (dateSelect)="changeDeliveryDate($event)" [minDate]="today" [disabled]="(presale.status == 'CANCEL' || presale.status == 'DELIVER')">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" (click)="datePiker.toggle()" [attr.disabled]="(presale.status == 'CANCEL' || presale.status == 'DELIVER') ? '' : null">
                    <i class="fa fa-calendar"></i> Elegir fecha
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-12" *ngIf="selectedDeliverDate != null">
              <h4>Fecha entrega</h4>
              <h5>¿Está seguro que desea cambiar la fecha de entrega al
                {{ selectedDeliverDate.year + '-' + selectedDeliverDate.month + ' - ' + selectedDeliverDate.day }}?
              </h5>
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-success" (click)="changeDeliveryDate(null)">Cancelar</button>
                <button type="button" class="btn" (click)="confirmDeliveryDate()">Continuar</button>
              </div>
            </div>

            <div class="col-md-12">
              <h4>Costo de envío</h4>
              <div class="form-group input-group">
                <input type="text" class="form-control" name="shippingPrice" [(ngModel)]="inputedShippingPrice"
                  [attr.disabled]="presale.status == 'PENDING' ? null : ''">
                <div class="input-group-append" *ngIf="presale.status == 'PENDING'">
                  <button class="btn btn-success" type="button" [attr.disabled]="inputedShippingPrice == presale.shippingPrice ? '' : null"
                    (click)="updateShippingPrice()">
                    <i class="fa fa-check"></i> Actualizar
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          Dirección de entrega
        </div>

        <form role="form" [formGroup]="addressForm">

          <div class="card-body">

            <div class="row">

              <fieldset class="form-group col-md-8 col-sm-12">
                <label>Calle</label>
                <input class="form-control" formControlName="street" [ngClass]="{'is-invalid' : isInputInvalid(addressForm.controls.street) }">
                <div class="invalid-feedback" *ngIf="isInputInvalid(addressForm.controls.street)">
                  Este campo no puede estar vacío y debe tener al menos 3 caracteres
                </div>
              </fieldset>
              <fieldset class="form-group col-md-4 col-sm-12">
                <label>Altura</label>
                <input class="form-control" formControlName="number" [ngClass]="{'is-invalid' : isInputInvalid(addressForm.controls.number) }">
                <div class="invalid-feedback" *ngIf="isInputInvalid(addressForm.controls.number)">
                  Este campo debe ser únicamente números
                </div>
              </fieldset>

              <fieldset class="form-group col-sm-12">
                <label>Distrito, Departamento y/o Provincia</label>
                <input class="form-control" formControlName="district" [ngClass]="{'is-invalid' : isInputInvalid(addressForm.controls.district) }">
                <div class="invalid-feedback" *ngIf="isInputInvalid(addressForm.controls.district)">
                  Este campo no puede estar vacío y debe tener al menos 3 caracteres
                </div>
              </fieldset>

              <fieldset class="form-group col-md-6 col-sm-12">
                <label>Latitud</label>
                <input class="form-control" formControlName="latitude" [ngClass]="{'is-invalid' : isInputInvalid(addressForm.controls.latitude) }">
                <div class="invalid-feedback" *ngIf="isInputInvalid(addressForm.controls.latitude)">
                  Este campo debe ser número entre 90.00 a -90.00
                </div>
              </fieldset>
              <fieldset class="form-group col-md-6 col-sm-12">
                <label>Longitud</label>
                <input class="form-control" formControlName="longitude" [ngClass]="{'is-invalid' : isInputInvalid(addressForm.controls.longitude) }">
                <div class="invalid-feedback" *ngIf="isInputInvalid(addressForm.controls.longitude)">
                  Este campo debe ser número entre 180.00 a -180.00
                </div>
              </fieldset>

            </div>

          </div>

          <div class="card-footer" *ngIf="presale.status == 'PENDING'">
            <button type="button" class="btn" (click)="resetAddress()" [attr.disabled]="(addressForm.dirty) ? null : ''">Restablecer</button>
            <div class="btn-group float-right">
              <button type="button" class="btn btn-primary" *ngIf="presale.address.id != presale.customer.address.id"
                (click)="deleteAddress()">Usar dirrección de cliente</button>
              <button type="button" class="btn btn-success" [attr.disabled]="addressForm.valid && (addressForm.dirty) ? null : ''"
                (click)="saveAddress()">Guardar</button>
            </div>
          </div>

        </form>

      </div>
    </div>

    <app-presale-detail-details class="col-sm-12" *ngIf="presale != null" (detailsSize)="getNewDetailsSize($event)"
      [presale]="presale"></app-presale-detail-details>

  </div>

</section>