<div class="card mb-3">

  <div class="card-header">
    Detalles de pedido
  </div>

  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Artículo</th>
          <th>Cantidad</th>
          <th>Descuento</th>
          <th>Subtotal</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let d of details">
          <ng-container *ngIf="newDetail.id != d.id">
            <td>{{ d.product.name }}</td>
            <td>{{ d.amount }}</td>
            <td>{{ d.discount }}</td>
            <td>{{ d.subtotal | currency:'ARS':'symbol-narrow' }}</td>
            <td *ngIf="toDelete == null || toDelete.id != d.id">
              <div class="btn-group pull-right">
                <button class="btn btn-sm btn-primary" (click)="startNewDetail(d)" [attr.disabled]="presale.status == 'PENDING' ? null : ''">
                  <i class="fa fa-fw fa-pencil"></i>
                </button>
                <button class="btn btn-sm btn-danger" (click)="deleteDetail(d)" [attr.disabled]="presale.status == 'PENDING' ? null : ''">
                  <i class="fa fa-fw fa-trash"></i>
                </button>
              </div>
            </td>
            <td *ngIf="toDelete != null && toDelete.id == d.id">
              <p>¿Confirmar eliminar detalle?</p>
              <div class="btn-group pull-right">
                <button class="btn btn-sm" (click)="confirmDelete()">
                  <i class="fa fa-fw fa-check"></i>
                </button>
                <button class="btn btn-sm btn-success" (click)="deleteDetail(null)">
                  <i class="fa fa-fw fa-times"></i>
                </button>
              </div>
            </td>
          </ng-container>
        </tr>

      </tbody>
      <tfoot>
        <tr>
          <td colspan="3"><p class="pull-right">Subtotal</p>></td>
          <td colspan="2">{{ presale.subtotal | currency:'ARS':'symbol-narrow' }}</td>
        </tr>
      </tfoot>
    </table>

    <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalElements" [(page)]="pageNumber"
      [disabled]='loadingDetails' [maxSize]="5" [pageSize]="pageSize" [rotate]="true" [ellipses]="false"
      [boundaryLinks]="true" (pageChange)="pageChange($event)"></ngb-pagination>

  </div>

  <div class="card-body" *ngIf="presale.status == 'PENDING' && !loadingDetails">

    <form role="form" [formGroup]="newDetailFrom" (ngSubmit)="saveDetail()">

      <div class="row">

        <h4 class="col-sm-12">{{ newDetail.id == null ? 'Crear detalle' : 'Editar detalle' }}</h4>

        <input type="hidden" formControlName="productId">

        <fieldset class="form-group col-xl-4 col-md-6 col-sm-12" *ngIf="newDetail.product == null">
          <label>Artículo</label>
          <input class="form-control" ngui-auto-complete [source]="filterObservableProducts" path-to-data="content"
            min-chars="1" [list-formatter]="autocompleteFormater" (valueChanged)="selectProduct($event)"
            display-property-name="name" [ngClass]="{'is-invalid' : newDetail.product == null }">
        </fieldset>

        <div class="col-xl-4 col-md-6 col-sm-12" *ngIf="newDetail.product != null">
          <label>Artículo</label>
          <ngb-alert [type]="'success'" [dismissible]="true" (close)="selectProduct(null)">
            <strong>Artículo:</strong>
            {{ '(' + newDetail.product.code + ') ' + newDetail.product.name }}
          </ngb-alert>
        </div>

        <fieldset class="form-group col-xl-4 col-md-6 col-sm-12">
          <label>Cantidad</label>
          <input class="form-control" formControlName="amount" [ngClass]="{'is-invalid' : isInputInvalid(newDetailFrom.controls.amount) }">
          <div class="invalid-feedback" *ngIf="isInputInvalid(newDetailFrom.controls.amount)">
            Este campo no puede estar vacío, y debe ser un número entero positivo. Ej: '10'
          </div>
        </fieldset>

        <fieldset class="form-group col-xl-4 col-md-6 col-sm-12">
          <label>Descuento</label>
          <input class="form-control" formControlName="discount" [ngClass]="{'is-invalid' : isInputInvalid(newDetailFrom.controls.discount) }">
          <div class="invalid-feedback" *ngIf="isInputInvalid(newDetailFrom.controls.discount)">
            Este campo no puede estar vacío, y debe ser un número positivo. Ej: '9.99'
          </div>
        </fieldset>

      </div>

      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn" *ngIf="newDetail.id != null" (click)="startNewDetail({})">Restablecer</button>
          <button type="submit" class="btn btn-success pull-right" [attr.disabled]="newDetailFrom.valid && (newDetailFrom.dirty) ? null : ''">Guardar</button>
        </div>
      </div>

    </form>

  </div>

</div>
