<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">

  <div class="row">
    <div class="col-xl-12">
      <h2 class="page-header">
        Pedidos
      </h2>
    </div>
  </div>

  <div class="row" *ngIf="alerts != null && alerts.length > 0">
    <div class="col-xl-12">
      <ngb-alert *ngFor="let a of alerts" [type]="a.type" [dismissible]="a.dismissible" (close)="closeAlert(a)">
        {{ a.message }}
      </ngb-alert>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          Listado de pedidos
          <div class="pull-right">
            <button role="button" class="btn btn-success" (click)="openNewModal(modalNew)">Cargar pedido</button>
          </div>
        </div>
        <div class="card-body">
          <form role="form" class="row">

            <h5 class="col-md-12">Filtros</h5>

            <fieldset class="form-group col-sm-12 col-md-6" *ngIf="filter.customer == null">
              <label>Cliente</label>
              <input class="form-control" ngui-auto-complete [source]="filterObservableCustomers" [list-formatter]="autocompleteFormater"
                name="filteredCustomer" [(ngModel)]="filter.tmpCustomer" path-to-data="content" min-chars="1"
                (valueChanged)="selectFilterCustomer($event)" display-property-name="name">
            </fieldset>

            <fieldset class="form-group col-sm-12 col-md-6" *ngIf="filter.customer != null">
              <label>Cliente</label>
              <ngb-alert [type]="'primary'" [dismissible]="true" (close)="selectFilterCustomer(null)" *ngIf="filter.customer != null">
                <strong>Cliente:</strong>
                {{ '(' + filter.customer.cuit + ') ' + filter.customer.name }}
              </ngb-alert>
            </fieldset>

            <fieldset class="form-group input-group col-sm-12 col-md-6">
              <label>Estados</label>
              <div class="btn-group btn-group-justified">
                <button class="btn" [ngClass]="{'btn-warning': filterIsOn('PENDING')}" (click)="switchFilterStatus('PENDING')">Pendiente</button>
                <button class="btn" [ngClass]="{'btn-primary': filterIsOn('SENT')}" (click)="switchFilterStatus('SENT')">Enviado</button>
                <button class="btn" [ngClass]="{'btn-success': filterIsOn('DELIVER')}" (click)="switchFilterStatus('DELIVER')">Entregado</button>
                <button class="btn" [ngClass]="{'btn-danger': filterIsOn('CANCEL')}" (click)="switchFilterStatus('CANCEL')">Cancelado</button>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Total</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of presales">
                <td>{{ p.customer.name }}</td>
                <td>{{ p.created | date:'yyyy-MM-dd' }}</td>
                <td *ngIf="p.status == 'PENDING'">{{ p.status | status }}</td>
                <td *ngIf="p.status != 'PENDING'">
                  {{ p.status | status }} ({{ p.lastStatusUpdate | date:'yyyy-MM-dd'}})
                </td>
                <td>{{ p.total | currency:'ARS':'symbol-narrow' }}</td>
                <td>
                  <a [routerLink]="['/presales', p.id]" class="btn btn-sm btn-primary pull-right"><i class="fa fa-fw fa-eye"></i>
                    Ver</a>
                </td>
              </tr>
            </tbody>
          </table>
          <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalElements" [(page)]="pageNumber"
            [disabled]='loadingPresales' [maxSize]="5" [pageSize]="pageSize" [rotate]="true" [ellipses]="false"
            [boundaryLinks]="true" (pageChange)="pageChange($event)"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modalNew let-c="close" let-d="dismiss">

    <div class="modal-header">
      <h4 class="modal-title">Carga de nuevo pedido</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form role="form" [formGroup]="presaleForm" (ngSubmit)="save(modal.presale)">

      <div class="modal-body">

        <ngb-alert *ngIf="modal.successMsg" [type]="'success'" [dismissible]="false">{{ modal.successMsg }}</ngb-alert>
        <ngb-alert *ngIf="modal.errorMsg" [type]="'warning'" [dismissible]="false">{{ modal.errorMsg }}</ngb-alert>

        <div class="container-fluid">
          <div class="row">

            <fieldset class="form-group col-sm-12">
              <label>Precio de envio</label>
              <input class="form-control" formControlName="shippingPrice" [ngClass]="{'is-invalid' : isInputInvalid(presaleForm.controls.shippingPrice) }">
              <div class="invalid-feedback" *ngIf="isInputInvalid(presaleForm.controls.shippingPrice)">
                Este campo no puede estar vacío, y debe ser un número positivo. Ej: '129.99'
              </div>
            </fieldset>

            <input class="form-control" formControlName="customerId" type="hidden">

            <fieldset class="form-group input-group col-sm-12">
              <label>Cliente</label>
              <input class="form-control" ngui-auto-complete [source]="filterObservableCustomers" [list-formatter]="autocompleteFormater"
                formControlName="customerSelectedId" path-to-data="content" min-chars="1" (valueChanged)="selectCustomer($event)"
                display-property-name="name" [ngClass]="{'is-invalid' : modal.customer == null }">
            </fieldset>
            <div class="col-sm-12">
              <ngb-alert [type]="'success'" [dismissible]="true" (close)="deselectCustomer()" *ngIf="modal.customer != null">
                <strong>Cliente:</strong>
                {{ '(' + modal.customer.cuit + ') ' + modal.customer.name }}
              </ngb-alert>
            </div>

          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-success" [attr.disabled]="presaleForm.valid ? null : ''">Crear</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
      </div>

    </form>

  </ng-template>

</section>