<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
  <div class="list-group">
    <!-- <a routerLink="/blank" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;
      <span>{{ 'Estadísticas' }}</span>
    </a> -->
    <a [routerLink]="['/shops']" [routerLinkActive]="['router-link-active']" class="list-group-item" *ngIf="user.role == 'SUPER'">
      <i class="fa fa-fw fa-building"></i>&nbsp;
      <span>{{ 'Tiendas' }}</span>
    </a>
    <a [routerLink]="['/stats']" [routerLinkActive]="['router-link-active']" class="list-group-item" *ngIf="user.role == 'ADMIN'">
      <i class="fa fa-fw fa-line-chart"></i>&nbsp;
      <span>{{ 'Estadísticas' }}</span>
    </a>
    <a [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="list-group-item" *ngIf="user.role == 'ADMIN'">
      <i class="fa fa-fw fa-users"></i>&nbsp;
      <span>{{ 'Usuarios' }}</span>
    </a>
    <a [routerLink]="['/customers']" [routerLinkActive]="['router-link-active']" class="list-group-item" *ngIf="user.role == 'ADMIN'">
      <i class="fa fa-fw fa-briefcase"></i>&nbsp;
      <span>{{ 'Clientes' }}</span>
    </a>
    <a [routerLink]="['/categories']" [routerLinkActive]="['router-link-active']" class="list-group-item" *ngIf="user.role == 'ADMIN'">
      <i class="fa fa-fw fa-folder-open"></i>&nbsp;
      <span>{{ 'Rubros' }}</span>
    </a>
    <a [routerLink]="['/products']" [routerLinkActive]="['router-link-active']" class="list-group-item" *ngIf="user.role == 'ADMIN'">
      <i class="fa fa-fw fa-tags"></i>&nbsp;
      <span>{{ 'Artículos' }}</span>
    </a>
    <a [routerLink]="['/presales']" [routerLinkActive]="['router-link-active']" class="list-group-item" *ngIf="user.role == 'ADMIN' || user.role == 'SELLER'">
      <i class="fa fa-fw fa-pencil-square-o"></i>&nbsp;
      <span>{{ 'Pedidos' }}</span>
    </a>

    <div class="header-fields">
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('profile')">
          <span><i class="fa fa-user"></i>&nbsp; {{ user.lastName + ', ' + user.firstName }} </span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'profile'">
          <ul class="submenu">
            <li>
              <a (click)="openProfile()">
                <span><i class="fa fa-fw fa-wrench"></i> {{ 'Perfil' }}</span>
              </a>
            </li>
            <li>
              <a (click)="logout()">
                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Salir' }}</span>
              </a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>
  <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
    <i class="fa fa-fw fa-angle-double-right" *ngIf="collapsed"></i>
    <i class="fa fa-fw fa-angle-double-left" *ngIf="!collapsed"></i>
    &nbsp;
    <span>{{ 'Minimizar' }}</span>
  </div>
</nav>