<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">

    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Artículos
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-search"></i> Buscar Artículos
                    <div class="pull-right">
                        <button role="button" class="btn btn-success" (click)="openNewModal(modalEditar)">Crear
                            artículo</button>
                    </div>
                </div>
                <div class="card-body">
                    <form role="form">
                        <div class="form-group input-group">
                            <input type="text" class="form-control" [formControl]="searchInput">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-header">Resultados ({{products.length}})</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 col-sm-12" *ngFor="let p of products">
                            <div class="card text-white bg-secondary">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col col-xs-3">
                                            <i class="fa fa-tag fa-5x"></i>
                                        </div>
                                        <div class="col col-xs-9 text-right">
                                            <div class="d-block huge">{{ p.name }}</div>
                                            <div class="d-block">{{ p.code }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button role="button" class="btn btn-danger float-left" (click)="openDeleteModal(modalRemove, p)">
                                        <span class="card-inverse"><i class="fa fa-trash"></i> Eliminar</span>
                                    </button>
                                    <button role="button" class="btn btn-primary float-right" (click)="openEditModal(modalEditar, p)">
                                        <span class="card-inverse"><i class="fa fa-pencil"></i> Editar</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #modalEditar let-c="close" let-d="dismiss">

        <div class="modal-header">
            <h4 class="modal-title">
                {{ modal.product.id == null ? 'Crear artículo' : 'Editar artículo ' + modal.product.name }}
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form role="form" [formGroup]="productForm" (ngSubmit)="save(modal.product)">

            <div class="modal-body">

                <ngb-alert *ngIf="modal.successMsg" [type]="'success'" [dismissible]="false">{{ modal.successMsg }}</ngb-alert>
                <ngb-alert *ngIf="modal.errorMsg" [type]="'warning'" [dismissible]="false">{{ modal.errorMsg }}</ngb-alert>

                <div class="container-fluid">
                    <div class="row">

                        <fieldset class="form-group col-lg-6 col-sm-12">
                            <label>Código</label>
                            <input class="form-control" formControlName="code" [ngClass]="{'is-invalid' : isInputInvalid(productForm.controls.code) }">
                            <div class="invalid-feedback" *ngIf="isInputInvalid(productForm.controls.code)">
                                Este campo no puede estar vacío
                            </div>
                        </fieldset>

                        <fieldset class="form-group col-lg-6 col-sm-12">
                            <label>Nombre</label>
                            <input class="form-control" formControlName="name" [ngClass]="{'is-invalid' : isInputInvalid(productForm.controls.name) }">
                            <div class="invalid-feedback" *ngIf="isInputInvalid(productForm.controls.name)">
                                Este campo no puede estar vacío
                            </div>
                        </fieldset>

                        <fieldset class="form-group col-lg-4 col-sm-12">
                            <label>Precio compra</label>
                            <input class="form-control" formControlName="purchasePrice" [ngClass]="{'is-invalid' : isInputInvalid(productForm.controls.purchasePrice) }">
                            <div class="invalid-feedback" *ngIf="isInputInvalid(productForm.controls.purchasePrice)">
                                Este campo no puede estar vacío, y debe ser un número positivo. Ej: '1249.99'
                            </div>
                        </fieldset>
                        <fieldset class="form-group col-lg-4 col-sm-12">
                            <label>Precio venta</label>
                            <input class="form-control" formControlName="salePrice" [ngClass]="{'is-invalid' : isInputInvalid(productForm.controls.salePrice) }">
                            <div class="invalid-feedback" *ngIf="isInputInvalid(productForm.controls.salePrice)">
                                Este campo no puede estar vacío, y debe ser un número positivo. Ej: '1249.99'
                            </div>
                        </fieldset>
                        <fieldset class="form-group col-lg-4 col-sm-12">
                            <label>IVA</label>
                            <input class="form-control" formControlName="tax" [ngClass]="{'is-invalid' : isInputInvalid(productForm.controls.tax) }">
                            <div class="invalid-feedback" *ngIf="isInputInvalid(productForm.controls.tax)">
                                Este campo no puede estar vacío, y debe ser un número positivo. Ej: '0.21'
                            </div>
                        </fieldset>

                        <input class="form-control" formControlName="categoryId" type="hidden">

                        <fieldset class="form-group input-group col-sm-12">
                            <label>Rubro</label>
                            <input class="form-control" ngui-auto-complete [source]="filterObservableCategories"
                                [list-formatter]="autocompleteFormater" formControlName="categorySelectedId"
                                path-to-data="content" min-chars="1" (valueChanged)="selectCategory($event)"
                                display-property-name="name" [ngClass]="{'is-invalid' : modal.category == null }">
                            <div class="invalid-feedback" *ngIf="modal.category == null">
                                Se debe seleccionar un rubro
                            </div>
                        </fieldset>
                        <div class="col-sm-12">
                            <ngb-alert [type]="'success'" [dismissible]="true" (close)="deselectCategory()" *ngIf="modal.category != null">
                                <strong>Rubro:</strong>
                                {{ modal.category.code + ' - ' + modal.category.name }}
                            </ngb-alert>
                        </div>

                        <fieldset class="form-group input-group">
                            <label class="col-md-12">Foto</label>
                            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-12">
                                <div class="text-center">
                                    <img [src]="modal.photoB64 == null ? 'assets/nopic.jpg' : modal.photoB64" class="img-fluid">
                                    <small class="form-text text-muted" *ngIf="modal.photo != null">{{ modal.photo.name
                                        }}</small>
                                </div>
                                <label class="btn btn-primary btn-block">
                                    Seleccionar foto
                                    <input type="file" hidden (change)="handlePhoto($event.target.files)">
                                </label>
                                <button class="btn btn-danger btn-block" type="button" *ngIf="modal.photo != null || modal.product.photo != null"
                                    (click)="removePhoto()">Eliminar foto</button>
                            </div>
                        </fieldset>

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success" [attr.disabled]="productForm.valid ? null : ''">Guardar</button>
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
            </div>

        </form>

    </ng-template>

    <ng-template #modalRemove let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Eliminar artículo {{ modal.product.name }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ngb-alert *ngIf="modal.errorMsg" [type]="'warning'" [dismissible]="false">{{ modal.errorMsg }}</ngb-alert>
            <p>¿Está seguro que desea eliminar al artículo?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deleteProduct(modal.product)">Eliminar</button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancelar</button>
        </div>
    </ng-template>

</section>
