<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">

  <div class="row">
    <div class="col-xl-12">
      <h2 class="page-header">
        Clientes
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-search"></i> Buscar Clientes
          <div class="pull-right">
            <button role="button" class="btn btn-success" (click)="openNewModal(modalEditar)">Crear cliente</button>
          </div>
        </div>
        <div class="card-body">
          <form role="form">
            <div class="form-group input-group">
              <input type="text" class="form-control" [formControl]="searchInput">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-3">
        <div class="card-header">Resultados ({{customers.length}})</div>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-12" *ngFor="let c of customers">
              <div class="card text-white bg-secondary">
                <div class="card-header">
                  <div class="row">
                    <div class="col col-xs-3">
                      <i class="fa fa-briefcase fa-5x"></i>
                    </div>
                    <div class="col col-xs-9 text-right">
                      <div class="d-block huge">{{ c.name }}</div>
                      <div class="d-block">{{ c.cuit }}</div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button role="button" class="btn btn-danger float-left" (click)="openDeleteModal(modalRemove, c)">
                    <span class="card-inverse"><i class="fa fa-trash"></i> Eliminar</span>
                  </button>
                  <button role="button" class="btn btn-primary float-right" (click)="openEditModal(modalEditar, c)">
                    <span class="card-inverse"><i class="fa fa-pencil"></i> Editar</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modalEditar let-c="close" let-d="dismiss">

    <div class="modal-header">
      <h4 class="modal-title">{{ modal.customer.id == null ? 'Crear cliente' : 'Editar cliente ' + modal.customer.name
        }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form role="form" [formGroup]="customerForm" (ngSubmit)="save(modal.customer)">

      <div class="modal-body">
        <ngb-alert *ngIf="modal.successMsg" [type]="'success'" [dismissible]="false">{{ modal.successMsg }}</ngb-alert>
        <ngb-alert *ngIf="modal.errorMsg" [type]="'warning'" [dismissible]="false">{{ modal.errorMsg }}</ngb-alert>
        <div class="container-fluid">
          <div class="row">

            <h4 class="col-sm-12">Información Cliente</h4>
            <fieldset class="form-group col-lg-6 col-sm-12">
              <label>CUIT</label>
              <input class="form-control" formControlName="cuit" [ngClass]="{'is-invalid' : isInputInvalid(customerForm.controls.cuit) }">
              <div class="invalid-feedback" *ngIf="isInputInvalid(customerForm.controls.cuit)">
                Este campo no puede estar vacío, y debe ser un CUIT válido con separación de guiones '-', ej:
                '20-11222333-4'
              </div>
            </fieldset>
            <fieldset class="form-group col-lg-6 col-sm-12">
              <label>Nombre</label>
              <input class="form-control" formControlName="name" [ngClass]="{'is-invalid' : isInputInvalid(customerForm.controls.name) }">
              <div class="invalid-feedback" *ngIf="isInputInvalid(customerForm.controls.name)">
                Este campo no puede estar vacío y debe tener al menos 3 caracteres
              </div>
            </fieldset>

            <h4 class="col-sm-12">Dirección</h4>
            <fieldset class="form-group col-md-8 col-sm-12">
              <label>Calle</label>
              <input class="form-control" formControlName="street" [ngClass]="{'is-invalid' : isInputInvalid(customerForm.controls.street) }">
              <div class="invalid-feedback" *ngIf="isInputInvalid(customerForm.controls.street)">
                Este campo no puede estar vacío y debe tener al menos 3 caracteres
              </div>
            </fieldset>
            <fieldset class="form-group col-md-4 col-sm-12">
              <label>Altura</label>
              <input class="form-control" formControlName="number" [ngClass]="{'is-invalid' : isInputInvalid(customerForm.controls.number) }">
              <div class="invalid-feedback" *ngIf="isInputInvalid(customerForm.controls.number)">
                Este campo debe ser únicamente números
              </div>
            </fieldset>
            <fieldset class="form-group col-sm-12">
              <label>Distrito, Departamento y/o Provincia</label>
              <input class="form-control" formControlName="district" [ngClass]="{'is-invalid' : isInputInvalid(customerForm.controls.district) }">
              <div class="invalid-feedback" *ngIf="isInputInvalid(customerForm.controls.district)">
                Este campo no puede estar vacío y debe tener al menos 3 caracteres
              </div>
            </fieldset>
            <fieldset class="form-group col-md-6 col-sm-12">
              <label>Latitud</label>
              <input class="form-control" formControlName="latitude" [ngClass]="{'is-invalid' : isInputInvalid(customerForm.controls.latitude) }">
              <div class="invalid-feedback" *ngIf="isInputInvalid(customerForm.controls.latitude)">
                Este campo debe ser número entre 90.00 a -90.00
              </div>
            </fieldset>
            <fieldset class="form-group col-md-6 col-sm-12">
              <label>Longitud</label>
              <input class="form-control" formControlName="longitude" [ngClass]="{'is-invalid' : isInputInvalid(customerForm.controls.longitude) }">
              <div class="invalid-feedback" *ngIf="isInputInvalid(customerForm.controls.longitude)">
                Este campo debe ser número entre 180.00 a -180.00
              </div>
            </fieldset>

          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-success" [attr.disabled]="customerForm.valid ? null : ''">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
      </div>

    </form>
  </ng-template>

  <ng-template #modalRemove let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Eliminar cliente {{ modal.customer.name }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ngb-alert *ngIf="modal.errorMsg" [type]="'warning'" [dismissible]="false">{{ modal.errorMsg }}</ngb-alert>
      <p>¿Está seguro que desea eliminar al cliente?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="deleteCustomer(modal.customer)">Eliminar</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancelar</button>
    </div>
  </ng-template>

</section>