<div class="login-page" *ngIf="passwordForm != null">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h1>Pedidos | Password</h1>
      <form role="form" [formGroup]="passwordForm" (ngSubmit)="submit()">

        <div class="form-content">

          <ngb-alert *ngIf="alert != null" [type]="alert.type" [dismissible]="alert.dismissible" (close)="clearAlert()">
            {{ alert.message }}
          </ngb-alert>

          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" formControlName="newPassword"
              placeholder="Nuevo password" [ngClass]="{'is-invalid' : isInputInvalid(passwordForm.controls.newPassword) }"
              *ngIf="alert == null || alert.type != 'success'">
          </div>

          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" formControlName="repeat" placeholder="Repetir password"
              [ngClass]="{'is-invalid' : (passwordForm.controls.repeat.dirty || passwordForm.controls.repeat.touched) && passwordConfirming(passwordForm) }"
              *ngIf="alert == null || alert.type != 'success'">
          </div>

        </div>

        <button class="btn rounded-btn" type="submit" [attr.disabled]="isUploading ? '' : ( passwordForm.valid ? null : '' )"
          *ngIf="alert == null || alert.type != 'success'">Enviar</button>
        <a class="btn rounded-btn" [routerLink]="['/']" *ngIf="alert != null && alert.type == 'success'">Volver al inicio</a>

      </form>
    </div>
  </div>
</div>
