<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">

  <div class="row">
    <div class="col-xl-12">
      <h2 class="page-header">
        Estadísticas
      </h2>
    </div>
  </div>

  <hr>

  <div class="row" *ngIf="stats != null && stats.byStatus != null">
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="card text-white bg-dark">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-3">
              <i class="fa fa-cart-plus fa-5x"></i>
            </div>
            <div class="col col-xs-9 text-right">
              <div class="d-block huge">Pendientes</div>
              <div class="d-block">{{ stats.byStatus.pending.month }} este mes</div>
              <div class="d-block">{{ stats.byStatus.pending.year }} este año</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="card text-white bg-primary">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-3">
              <i class="fa fa-truck fa-5x"></i>
            </div>
            <div class="col col-xs-9 text-right">
              <div class="d-block huge">Enviados</div>
              <div class="d-block">{{ stats.byStatus.sent.month }} este mes</div>
              <div class="d-block">{{ stats.byStatus.sent.year }} este año</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="card text-white bg-success">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-3">
              <i class="fa fa-check-square fa-5x"></i>
            </div>
            <div class="col col-xs-9 text-right">
              <div class="d-block huge">Entregados</div>
              <div class="d-block">{{ stats.byStatus.deliver.month }} este mes</div>
              <div class="d-block">{{ stats.byStatus.deliver.year }} este año</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="card text-white bg-danger">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-3">
              <i class="fa fa-ban fa-5x"></i>
            </div>
            <div class="col col-xs-9 text-right">
              <div class="d-block huge">Cancelados</div>
              <div class="d-block">{{ stats.byStatus.cancel.month }} este mes</div>
              <div class="d-block">{{ stats.byStatus.cancel.year }} este año</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-12" *ngIf="stats != null && stats.monthly != null">

      <div class="card card-default">

        <div class="card-header">
          <i class="fa fa-area-chart fa-fw"></i> Historial pedidos
        </div>

        <div class="card-body">
          <canvas baseChart [datasets]="stats.monthly.data" [labels]="stats.monthly.labels" [options]="lineChartOptions"
            [chartType]="'line'" [colors]="lineChartColors"></canvas>
        </div>

      </div>

    </div>
  </div>

  <hr>

  <div class="row" *ngIf="stats != null">

    <div class="col-xl-6 col-md-12" *ngIf="stats.byCustomer != null">
      <div class="card card-default">

        <div class="card-header">
          <i class="fa fa-briefcase fa-fw"></i> Top Clientes
        </div>

        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Saldo</th>
                <th>N° Pedidos</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let c of stats.byCustomer">
                <td>{{ c.customer.name }} ({{ c.customer.cuit }})</td>
                <td>{{ c.customer.balance | currency:'ARS':'symbol-narrow' }}</td>
                <td>{{ c.total }}</td>
              </tr>
            </tbody>

          </table>
        </div>

      </div>
    </div>

    <div class="col-xl-6 col-md-12" *ngIf="stats.byUser != null">
      <div class="card card-default">

        <div class="card-header">
          <i class="fa fa-users fa-fw"></i> Top Usuarios
        </div>

        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Usuario</th>
                <th>N° Pedidos</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let u of stats.byUser">
                <td>{{ u.user.lastName }}, {{ u.user.firstName }}</td>
                <td>{{ u.total }}</td>
              </tr>
            </tbody>

          </table>
        </div>

      </div>
    </div>

  </div>

</section>
