<div class="modal-header">
  <h4 class="modal-title">Editar usuario</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<div class="modal-body">

  <ngb-alert *ngIf="alert != null" [type]="alert.type" [dismissible]="alert.dismissible" (close)="closeAlert()">
    {{ alert.message }}
  </ngb-alert>

  <div class="container-fluid">

    <form role="form" [formGroup]="profileForm" (ngSubmit)="save()" *ngIf="user != null">
      <div class="row">

        <h4 class="col-sm-12">Información Personal</h4>

        <fieldset class="form-group col-sm-12">
          <label>Email</label>
          <input class="form-control" formControlName="email">
        </fieldset>

        <fieldset class="form-group col-lg-6 col-sm-12">
          <label>Nombre</label>
          <input class="form-control" formControlName="firstName" [ngClass]="{'is-invalid' : isInputInvalid(profileForm.controls.firstName) }">
          <div class="invalid-feedback" *ngIf="isInputInvalid(profileForm.controls.firstName)">
            Este campo no puede estar vacío, y debe tener al menos 3 caracteres.
          </div>
        </fieldset>

        <fieldset class="form-group col-lg-6 col-sm-12">
          <label>Apellido</label>
          <input class="form-control" formControlName="lastName" [ngClass]="{'is-invalid' : isInputInvalid(profileForm.controls.lastName) }">
          <div class="invalid-feedback" *ngIf="isInputInvalid(profileForm.controls.lastName)">
            Este campo no puede estar vacío, y debe tener al menos 3 caracteres.
          </div>
        </fieldset>

        <div class="col-md-12">
          <button type="submit" class="btn btn-success pull-right" [attr.disabled]="profileForm.valid ? null : ''">Guardar</button>
        </div>

      </div>
    </form>

    <form role="form" [formGroup]="passwordForm" (ngSubmit)="updatePassword()" *ngIf="user != null">
      <div class="row">

        <h4 class="col-sm-12">Cambio de Password</h4>

        <fieldset class="form-group col-sm-12">
          <label>Password actual</label>
          <input class="form-control" type="password" formControlName="current" [ngClass]="{'is-invalid' : isInputInvalid(passwordForm.controls.current) }">
          <div class="invalid-feedback" *ngIf="isInputInvalid(passwordForm.controls.current)">
            Este campo no puede estar vacío.
          </div>
        </fieldset>

        <fieldset class="form-group col-sm-12">
          <label>Password nuevo</label>
          <input class="form-control" type="password" formControlName="newPassword" [ngClass]="{'is-invalid' : isInputInvalid(passwordForm.controls.newPassword) }">
          <div class="invalid-feedback" *ngIf="isInputInvalid(passwordForm.controls.newPassword)">
            Este campo no puede estar vacío.
          </div>
        </fieldset>

        <fieldset class="form-group col-sm-12">
          <label>Repetir password nuevo</label>
          <input class="form-control" type="password" formControlName="repeat" [ngClass]="{'is-invalid' : (passwordForm.controls.repeat.dirty || passwordForm.controls.repeat.touched) && passwordConfirming(passwordForm) }">
          <div class="invalid-feedback" *ngIf="passwordConfirming(passwordForm)">
            Las contraseñas introducidas no coinciden.
          </div>
        </fieldset>

        <div class="col-md-12">
          <button type="submit" class="btn btn-success pull-right" [attr.disabled]="passwordForm.valid ? null : ''">Actualizar</button>
        </div>

      </div>
    </form>

  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
</div>